@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root { 
    /* Font Weight */
    --font-big: 900;
    --font-bold: 700;
    --font-normal: 400;
    --font-small: 200;

    /* Font Size */
    --font-size-xxl: 9vw;
    --font-size-xl: 7vw;
    --font-size-md: 5vw;
    --font-size-small: 3vw;
    --font-size-xs: 1.5vw;

    /* Font */
    --font: 'Poppins';

    /* Farver */
    --yellow: #f9a828;
    --grey: #ececeb;
    --blue: #07616D;
    --black: #2e383f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}



.nav-wrapper a {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--blue);
}

.footer-container{
    position: absolute;
    bottom: 0;
}

.footer-wrapper a {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--blue);
}

img {
    width: 25%;
}

/* Content */

.content-main{
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--black);

}

/* styles til start container */

.lock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ikon styles */
.fa-lock{
    font-size: var(--font-size-xl);
    display: flex;
    justify-content: center;
    padding: 15px;
    color: var(--yellow);
}

/* Tekst styles */
.lock-container h2{
    font-size: var(--font-size-small);
    text-align: center;
    color: var(--grey);
}

/* input styles */
input[type=text] {
    width: 100%;
    background-color: var(--blue);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
    border: 2px solid var(--yellow);
    color: var(--grey);
    margin: 30px;

  }

  /* knap styles */
  .lock-container button{
    background-color: var(--blue);
    border: 2px solid var(--yellow);
    color: var(--grey);
    padding: 10px;
    font-size: var(--font-size-xs);

  }

/* Container der vises hvis id er korrekt */
  .lock-container-succes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.lock-container-succes h2{
    font-size: var(--font-size-small);
    text-align: center;
    color: var(--grey);
    margin: 15px;
}

.lock-container-succes button{
    background-color: var(--blue);
    border: 2px solid var(--yellow);
    color: var(--grey);
    padding: 25px;
    font-size: var(--font-size-xs);
  }

  .fa-lock-open{
    font-size: var(--font-size-xl);
    display: flex;
    justify-content: center;
    padding: 25px;
    color: var(--yellow);
}

/* Sørger for at containeren bliver vist hvis alt er godt og opsætning af denne */
.active{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.succesBTN{
    background-color: var(--blue);
    border: 2px solid var(--yellow);
    color: var(--grey);
    padding: 10px;
    font-size: var(--font-size-xs);
    text-decoration: none;
}

/* Gemmer default container */
.remove{
    display: none;
}


/* Fejl styles */
.error{
    color: red;
    font-size: var(--font-size-xs);
    display: none;
}

.eror-active{
    display: block;
}

.fejl{
    background-color: red !important;
}

/* Responsive  */
@media screen and (max-width: 480px) {
  
    .content-main{
        height: 80vh;
    }

    img{
        width: 50%;
    }

    .lock-container h2{
        font-size: var(--font-size-xxl);

    }

    .lock-container-succes h2{
        font-size: var(--font-size-xxl);

    }

    .fa-lock{
        font-size: 8rem;

    }

    .fa-lock-open{
        font-size: 8rem;

    }

    .lock-container button{
        font-size: var(--font-size-md);
    }


  }